
.center{
	margin:100px auto;
	display:flex;
	justify-content: center;
	flex-direction:column;
	width:40%;

}
h4 {
	text-align:center;
}

.list-group-item {
	display:flex;
	justify-content: space-between;
	padding:5px;
}

.list-group-item:nth-child(even){
	background:#e6e6e6;
}

p {
	padding:5px;
	line-height: 1;
	margin:0;
	color:red;
	font-weight: bold;
}


p:hover {
	cursor:pointer;
}


@media (max-width:1000px){
	.center {

		width:60%;
	}
}

@media (max-width:700px){
	.center {

		width:80%;
	}
}
